#footer{
    padding: 15px;
    text-align: center;
    background: #252525;
    color: #ffffff;
    font-weight: 500;
}

#card{
    margin: 0 0 40px 0;
}

.eachCard:hover{
    box-shadow:5px 5px 5px 5px #25252554;
    transform: translate(0, -2px);

}